

body {
    margin: 0;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4); /* nero trasparente */
    height: 60px;
    /* color: #fff; */
    /* padding: 20px 0;*/
    z-index: 1000; 
    display: flex;
    align-items: center;
}

.logo {
    position: absolute;
    /* top: 20px; */
    left: 60px;
    height: 24.5px;
}

.my-transparent-btn {
    background: transparent;
    border: none;
}

.header-lang {
    position: absolute;
    right: 95px;
    display: flex;
    gap: 20px;
    font-family: 'Poppins Leggero', sans-serif;
    font-style: normal;
    color: #fff;
    font-size: 1.25 rem;
    justify-content: flex-end;
}


.hero {
    /* background-image: url('multimedia/background1.jpg');
    background-size: cover;  */
    

    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.hero-content {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  
     /* top: 250px; */
     /* left: 50%; 
    transform: translate(-50%); */
    /* place-items: center; */
    text-align: center;
    color: #ffffff;
    z-index: 1;
    position: absolute;
}

.hero-content h1 {
    font-size: 7rem;
    /* margin-top: 20.5rem;
    margin-bottom: 4rem; */
    margin: 0;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}

.hero-content p {
    font-size: 1.25rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.7rem;
    margin: 0;
    }

#hero-subtitle {
    color: rgba(255, 255, 255, 0.8);
    /* margin-bottom: 35px ; */

}

#arrow_homepage {
    margin-top: 6.5rem;;
}

#space1 {
    /* background-color: blue; */
    height: 170px;
    width: 100%;
    margin-bottom: 55px;
}

/* .space {
    height: 80px;
    background-color: rgb(23, 23, 24);
    margin: 0;
    padding: 0;
    width: 100vw;
    box-sizing: border-box;
} */

#p2 {
    background-image: url('multimedia/pp2.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 13%;
    /* align-items: flex-start; */
    width: 100vw;    
    height: 100vh; 
    /* height: 810px; */
 }

h2 {
    font-family: 'Poppins', 'Segoe UI', Arial, sans-serif;
    color: #fff;
    
}

p {
    font-family: 'Poppins', 'Segoe UI', Arial, sans-serif;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.02em;
    text-shadow: 0 1px 4px rgba(0,0,0,0.25); /* migliora la leggibilità su sfondi scuri */
}

/* #space3 {
    height: 80px;
    background-color: rgb(8, 8, 8);
    margin: 0;
    padding: 0;
    width: 100vw;
    box-sizing: border-box;
} */

#p3 {
    background-image: url('multimedia/bg2.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

    width: 100vw;    
    height: 100vh; 
}

 .subtitle {
      font-size: 3rem;
      color: white;
      text-align: center;
      margin-top: 0px;;
 }


.flex-container {
    display: flex;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */

    gap: 50px;
    /* width: 92%;*/
    
     /* max-width: 1600px;  */
    /* margin: 0 auto; */
    /* margin-top: 70px;
    margin-bottom: 60px; */
}

 .card {
      background: linear-gradient(to bottom, #3C4B6C, #3B7BA6);
      padding: 50px 20px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
      position: absolute;
      /* display: flex; */
      flex-direction: column;
      align-items: center;
     /* 
      justify-content: space-between;
      transition: transform 0.2s ease;
      position: relative; */
    }
    
.card-number {
    font-size: 9rem;
    font-weight: 600;
    z-index: 0;
    display: flex;
    position: relative;
    bottom: 65px;
    color:rgb(255, 255, 255, 0.3);
    font-family: 'Poppins', sans-serif;
    /* margin-top: 80px; */
    /* line-height: 1.4; */
}

.card-text{
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    text-align: center;
    z-index: 2;
    position: relative;
    bottom: 150px;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    line-height: 1.7rem;
}

.card-arrow {
      /* margin-top: auto; */
      position: relative;
      bottom: 130px;
      z-index: 2;
      /* size: 1.5rem; */
      color: white;
      opacity: 0.8;
      transition: opacity 0.2s ease;
    }

    .card-arrow:hover {
      opacity: 1;
      cursor: pointer;
    }

    .card:hover {
        transform: scale(1.1) translateY(-10px);
        box-shadow: 0 12px 32px rgba(0,0,0,0.35);
      /* transform: translateY(-5px); */ /*alterativa*/
    }

#p4 {
    background: linear-gradient(to right, #1F2A35, #121920);
    
    height: 800px;;
    width: 100vw;
    padding-top: 60px;
    padding-left: 200px;
    padding-right: 200px;;
    /* padding-left: 10%;
    padding-right: 10%; */
}



.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 320px;
    gap: 30px;
    padding: 0px;
    
  margin: 60px auto;                        
  /* box-sizing: border-box; */
}

.grid-logo {
    
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 35%; */
}

.grid-text {
    background-color: rgb(90, 90, 90, 0.33);
    
    color: white;
    border-radius: 15px;
    width: 100%;
    padding: 30px 20px 20px 40px;
}

#p5 {
    background: linear-gradient(to right, #1F2A35, #121920);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    height: 100vh;
    width: 100vw;
    padding-top: 60px;
    padding-left: 200px;
    padding-right: 200px;
}

#p5-sub{
        text-align: center;
        /* margin-bottom: 20px; */
    }

.p5-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 30px;
    padding: 0px;
    margin-top: 70px;
    /* margin: 60px auto;                         */   
}

.p5-card{
    background-color: rgb(90, 90, 90, 0.33);
    border-radius: 15px;
    padding: 50px 30px 30px 30px;
    align-items: center;
}

#p6 {
    background: linear-gradient(to right, #1F2A35, #121920);
    
    height: 100vh;
    width: 100vw;
    padding-top: 60px;
    padding-left: 200px;
    padding-right: 200px;
}

.p6-flex-container{
    display: flex;
    gap: 65px;
}

.p6-image{
    width: 440px;
    height: 630px;
    border-radius: 15px;
}


#p6-text{
    flex-direction: column;
    
}

#p6-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 35px;
    gap: 40px;
   
}

.p6-grid-item{
    background-color: rgb(90, 90, 90, 0.33);
    border-radius: 15px;
    padding: 30px 20px 20px 20px;
}


#p7 {
    background: linear-gradient(to right, #1F2A35, #121920);

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1777px;
    width: 100vw;
    padding-top: 150px;
    padding-left: 200px;
    padding-right: 200px;
    gap: 50px;
}

#p7-flex-container{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.p7-item{
    background-color: rgb(90, 90, 90, 0.33);
    border-radius: 15px;
    display: flex;
    /* padding: 50px 30px 30px 20px; */
    /* width: 100%; */
    height: 320px;
    max-width: 1100px;
    /* box-sizing: border-box; */
    padding: 30px 20px 20px 40px;
    gap: 20px;
}


.p7-text{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 15px;
    /* margin: 0; */
}



#p8 {
    background: linear-gradient(to right, #1F2A35, #121920);

    height: 200vh;
    width: 100vw;
    padding-top: 60px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.accordion-container {
    display: flex;
    gap: 40px;
}

.accordion{
    gap : 50px;
    display: flex;
    flex-direction: column;
}

.accordion-item{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    border: none !important;
}

.accordion-button{
    
    height: 40px;
    border: none !important;
    box-shadow: none !important;
}

.accordion-button {
    color: #fff !important;           /* Cambia il colore della freccia */
    background-color: rgb(63, 63, 63); /* (opzionale) */
}

.accordion-button::after {
    filter: invert(1) brightness(2);  /* Rende la freccia bianca */
}

.accordion-body{
    background-color: rgb(63, 63, 63);
    border-radius: 15px;
    border: none !important;
}


.end {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 7%;
    gap: 5rem;
}

.end p{
    max-width: 50vw;
}




@media (min-width: 769px){
    .flex-container .card:nth-child(1) {
        top: 4rem;
    }

    .flex-container .card:nth-child(2) {
            top: 2rem;
    }
    .flex-container .card:nth-child(3) {
            top: 6rem;
    }
    .flex-container .card:nth-child(4) {
            top: 2rem;
    }
    .flex-container .card:nth-child(5) {
            top: 4rem;
    }

}

@media (min-width: 769px){
    #accordion1 .accordion-item:nth-child(1) {
        margin-top: 13rem;
    }
    #accordion2 .accordion-item:nth-child(1) {
        margin-top: 7rem;
    }
    #accordion3 .accordion-item:nth-child(1) {
        margin-top: 13rem;
    }
}



@media (max-width: 768px) {
    body{
        margin: 0 !important;
        padding: 0;
        overflow-x: hidden;
        width: 100%;     
    }
    header {
        width: 100vw;      
    }

     h1{
        font-size: 3.8rem !important;
     }

    h2 {
        font-size: 2.5rem !important;
     }
    header {
        height: 50px;
        padding: 0 10px;
        z-index: 1000;
        }
    .logo {
        height: 20px;
        left: 10px;
    }
    .header-lang {
        gap: 10px;
        right: 20px;
        font-size: 1rem;
    }
    .hero {
        height: 100vh;
        min-height: 400px;
        padding: 0;
    }
    .hero-video {
        width: 100vw;
        height: 100vh;
        min-height: 400px;
    }
    .hero-content {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 90vw;
        padding: 0 10px;
    }
    .hero-content h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    .hero-content p {
        font-size: 1rem;
    }
    #space1 {
        height: 80px;
        margin-bottom: 20px;
    }
    .space, #space3 {
        height: 40px;
    }
    #p2{
        padding-left: 5%;
        padding-right: 5%;
    }
    #p3 {
        background: linear-gradient(to bottom, #021048, #376DA2);
        height: 340vh;
        gap: 40px;
    }
    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center; 
     }
    .card {
        margin-bottom: 2rem; /* per distanziarle tra loro */

    }

    #p4{
        height: 200vh;
        padding: 20px;

    }

    
    .grid-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .grid-container .grid-logo:nth-child(1) {
        display: none;
    }
    .grid-container{
        gap: 50px;
    }
    
    #p5 {
        align-items: unset;
        padding: 20px;
        text-align: unset;
        height: 250vh;
        gap: 30px;
    }

    .p5-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    #p6{
        height: 230vh;
        text-align: unset;
        align-items: unset;
        padding: 20px;
        margin: 0;
    }

    .p6-flex-container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin: 0;
        gap: 20px;
    }

    .p6-image{
    width: 352px;
    height: 504px;
    /* border-radius: 15px; */
}

    #p6-grid{
        gap: 20px;
    }

    #p7 {
        display: flex;
        flex-direction: column;
        height: 350vh;
        padding: 20px;
        gap: 30px;
        align-items: unset !important;
        text-align: unset !important;
    }

    .p7-item {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 20px;
        margin: 0;
        align-items:unset;
        text-align: unset;
    }

    .p7-text {
        width: 100%;
    }

    .p7-text h2 {
        text-align: unset;
        margin: 0;
        padding: 20px;
    }

    #p8 {
        height: 300vh;
        padding: 20px;
        gap: 30px;
    }

    .accordion-container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .accordion {
        gap: 30px;
    }

    .end {
        gap: 2;
    }
    .end h2{
        font-size: 2.5rem;
        /* text-align: center; */
        padding: 0;
    }
    .end p {
        max-width: 90vw;
        padding: 0 2vw;
        font-size: 0.9rem;
    }

} 
